@model A.ÖzgürOnurYıldırım_E_ticaretSitesiWebUI.Models.Cart
<ul class="navbar-nav my-2 my-lg-0">

<style>
#cart{
    color:white
}

</style>
   
         <li id="cart"class="nav-item active">
             <a href="/Cart">Sepet</a>
             (@Model.CartLines.Count)
        </li>

        

    
</ul>
