@model IEnumerable<A.ÖzgürOnurYıldırım_E_ticaretSitesiWebUI.Models.Entity.Category>
<a href="/Home/List" class="list-group-item list-group-item-action">Tüm Kategoriler</a>
@foreach (var item in Model)
{
    <a href="/Home/List/@item.Id" class="list-group-item list-group-item-action">@item.Name</a>
}
