@using A.ÖzgürOnurYıldırım_E_ticaretSitesiWebUI.Models.Entity;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Yıldırım Elektronik</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p>Hoşgeldiniz Yıldırım Elektronikle Projeleriniz Yarım Kalmasın.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Bilgi</a>
        </p>
    </div>
</div>

<div class="container pb-5">
    @Html.Partial("_ProductList", Model)

</div>